.createproduct-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;    
    height: 100%;  
    background-color: lightgrey;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: blue; */

}

.form div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.form .button {
    margin: 40px;
}
