.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    height: 90%;  
    margin: 10px 10px;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

}

.allProduct{
    flex-direction: row;
}

.product:hover {
    cursor: pointer;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 5px;

}

.nameandvalue {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    /* background-color: lightgrey; */

}

.productname {
    height: 15%;
    font-weight: bold;
}

.productprice {
    height: 15%;
    margin-top: 10px;
}
